In [1]:
# Imports
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# import altair as alt

In [2]:
# Loading in datasets
wave1 = pd.read_csv("Sample Preseason Survey 2023.csv")
wave2 = pd.read_csv("Sample Postseason Survey 2023.csv")

# Wave 1

In [3]:
# First 5 rows of Wave 1
wave1.head()

,uuid,Wave,Section,Row,Age,Gender,Tenure,Ovr_Sat,Team_Sat,Comm_Sat,Comm_Freq,Benefit_Sat,Benefit_Aware
0,ca962bfc,1,446,D,45-54,Male,11-20 season,3,7,7,Too few,990,Unaware
1,b0b208b7,1,315,HH,45-54,Male,2-5 season,8,9,990,Too Many,990,Unaware
2,e54d351c,1,183,J,25-34,Female,6-10 season,7,3,7,Too Many,990,Unaware
3,c62eeb63,1,143,M,55-64,Female,6-10 season,9,7,6,Too Many,8,Aware and have NOT used/received
4,1815ec0f,1,373,H,45-54,Female,11-15 season,8,5,7,Just Right,990,Unaware

In [4]:
# Wave 1 description of numerical columns
wave1.describe()

         Wave      Section
count  1452.0  1452.000000
mean      1.0   280.689394
std       0.0   159.745600
min       1.0     1.000000
25%       1.0   137.000000
50%       1.0   283.500000
75%       1.0   421.000000
max       1.0   550.000000

In [5]:
# Wave 1 description of non-numerical columns
wave1.describe(exclude = 'number')

,uuid,Row,Age,Gender,Tenure,Ovr_Sat,Team_Sat,Comm_Sat,Comm_Freq,Benefit_Sat,Benefit_Aware
count,1452,1452,1452,1452,1452,1452,1452,1452,1452,1452,1452
unique,1452,41,7,4,7,10,11,12,6,11,3
top,bcc1a437,I,45-54,Male,21+ seasons,8,7,8,Just right,990,Unaware
freq,1,51,434,934,435,293,219,214,652,900,747

In [6]:
# Wave 1 information. Ovr_Sat, Team_Sat, Comm_Sat, and Benefit_Sat were changed
wave1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452 entries, 0 to 1451
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uuid           1452 non-null   object
 1   Wave           1452 non-null   int64
 2   Section        1452 non-null   int64
 3   Row            1452 non-null   object
 4   Age            1452 non-null   object
 5   Gender         1452 non-null   object
 6   Tenure         1452 non-null   object
 7   Ovr_Sat        1452 non-null   object
 8   Team_Sat       1452 non-null   object
 9   Comm_Sat       1452 non-null   object
 10  Comm_Freq      1452 non-null   object
 11  Benefit_Sat    1452 non-null   object
 12  Benefit_Aware  1452 non-null   object
dtypes: int64(2), object(11)
memory usage: 147.6+ KB

In [7]:
# Changing 10 - Extremely satisfied and 1 - Not at all satisfied to 10 and 1, respectively in columns
# Ovr_Sat, Team_Sat, Comm_Sat, and Benefit_Sat
wave1["Ovr_Sat"] = wave1["Ovr_Sat"].replace("10 - Extremely satisfied","10")
wave1["Ovr_Sat"] = wave1["Ovr_Sat"].replace("1 - Not at all satisfied","1")

wave1["Team_Sat"] = wave1["Team_Sat"].replace("10 - Extremely satisfied","10")
wave1["Team_Sat"] = wave1["Team_Sat"].replace("1 - Not at all satisfied","1")

wave1["Comm_Sat"] = wave1["Comm_Sat"].replace("10 - Extremely satisfied","10")
wave1["Comm_Sat"] = wave1["Comm_Sat"].replace("1 - Not at all satisfied","1")

wave1["Benefit_Sat"] = wave1["Benefit_Sat"].replace("10 - Extremely satisfied","10")
wave1["Benefit_Sat"] = wave1["Benefit_Sat"].replace("1 - Not at all satisfied","1")

In [8]:
# Changing Ovr_Sat, Team_Sat, Comm_Sat, and Benefit_Sat from objects to int64 
wave1["Ovr_Sat"] = wave1["Ovr_Sat"].astype("int64")
wave1["Team_Sat"] = wave1["Team_Sat"].astype("int64")
wave1["Comm_Sat"] = wave1["Comm_Sat"].astype("int64")
wave1["Benefit_Sat"] = wave1["Benefit_Sat"].astype("int64")

# Wave 1 information after changing data types
wave1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452 entries, 0 to 1451
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uuid           1452 non-null   object
 1   Wave           1452 non-null   int64
 2   Section        1452 non-null   int64
 3   Row            1452 non-null   object
 4   Age            1452 non-null   object
 5   Gender         1452 non-null   object
 6   Tenure         1452 non-null   object
 7   Ovr_Sat        1452 non-null   int64
 8   Team_Sat       1452 non-null   int64
 9   Comm_Sat       1452 non-null   int64
 10  Comm_Freq      1452 non-null   object
 11  Benefit_Sat    1452 non-null   int64
 12  Benefit_Aware  1452 non-null   object
dtypes: int64(6), object(7)
memory usage: 147.6+ KB

In [9]:
# Changing "Too many", "Just right", and "Too few" to "Too Many", "Just Right", and "Too Few" in the comm_freq column
wave1["Comm_Freq"] = wave1["Comm_Freq"].replace("Too many","Too Many")
wave1["Comm_Freq"] = wave1["Comm_Freq"].replace("Just right","Just Right")
wave1["Comm_Freq"] = wave1["Comm_Freq"].replace("Too few","Too Few")

In [10]:
# Dropping any potential duplicates in Wave 1 
wave1 = wave1.drop_duplicates()

# Wave 1 information after dropping any potential duplicates 
wave1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1452 entries, 0 to 1451
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uuid           1452 non-null   object
 1   Wave           1452 non-null   int64
 2   Section        1452 non-null   int64
 3   Row            1452 non-null   object
 4   Age            1452 non-null   object
 5   Gender         1452 non-null   object
 6   Tenure         1452 non-null   object
 7   Ovr_Sat        1452 non-null   int64
 8   Team_Sat       1452 non-null   int64
 9   Comm_Sat       1452 non-null   int64
 10  Comm_Freq      1452 non-null   object
 11  Benefit_Sat    1452 non-null   int64
 12  Benefit_Aware  1452 non-null   object
dtypes: int64(6), object(7)
memory usage: 158.8+ KB

In [11]:
# Value Counts for Team_Sat
wave1["Team_Sat"].value_counts()

7      219
8      214
6      167
5      164
9      132
10     125
4      111
1      103
3      102
2       80
990     35
Name: Team_Sat, dtype: int64

In [12]:
# Finding average and weighted average for Team_Sat
Team_Sat_Rating = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [103,80,102,111,164,167,219,214,132,125]
print(round(np.average(Team_Sat_Rating, weights = Rating_Amount),2))

6.01

In [13]:
# Replacing 990 values in Team_Sat with 6
wave1["Team_Sat"] = wave1["Team_Sat"].replace(990,6)

wave1["Team_Sat"].value_counts()

7     219
8     214
6     202
5     164
9     132
10    125
4     111
1     103
3     102
2      80
Name: Team_Sat, dtype: int64

In [14]:
# Value Counts for Comm_Sat
wave1["Comm_Sat"].value_counts()

8      214
9      186
10     174
7      161
5      148
6      128
990    125
4       86
3       83
1       76
2       71
Name: Comm_Sat, dtype: int64

In [15]:
# Finding average and weighted average for Comm_Sat
Comm_Sat_Rating = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [76,71,83,86,148,128,161,214,186,174]
print(round(np.average(Comm_Sat_Rating, weights = Rating_Amount),2))

6.46

In [16]:
# Replacing 990 values in Comm_Sat with 6
wave1["Comm_Sat"] = wave1["Comm_Sat"].replace(990,6)

wave1["Comm_Sat"].value_counts()

6     253
8     214
9     186
10    174
7     161
5     148
4      86
3      83
1      76
2      71
Name: Comm_Sat, dtype: int64

In [17]:
# Value Counts for Benefit_Sat
wave1["Benefit_Sat"].value_counts()

990    900
10      98
5       90
8       87
7       70
9       62
6       58
1       28
3       28
2       19
4       12
Name: Benefit_Sat, dtype: int64

In [18]:
# Dropping Benefit_Sat from wave1 due to high number of N/As (61.98%)
wave1.drop("Benefit_Sat", inplace = True, axis=1)

wave1.head()

,uuid,Wave,Section,Row,Age,Gender,Tenure,Ovr_Sat,Team_Sat,Comm_Sat,Comm_Freq,Benefit_Aware
0,ca962bfc,1,446,D,45-54,Male,11-20 season,3,7,7,Too Few,Unaware
1,b0b208b7,1,315,HH,45-54,Male,2-5 season,8,9,6,Too Many,Unaware
2,e54d351c,1,183,J,25-34,Female,6-10 season,7,3,7,Too Many,Unaware
3,c62eeb63,1,143,M,55-64,Female,6-10 season,9,7,6,Too Many,Aware and have NOT used/received
4,1815ec0f,1,373,H,45-54,Female,11-15 season,8,5,7,Just Right,Unaware

# Wave 2

In [19]:
# First 5 rows of Wave 2
wave2.head()

,uuid,Wave,Section,Row,Age,Gender,Tenure,Ovr_Sat,Team_Sat,Comm_Sat,Comm_Freq,Benefit_Sat,Benefit_Aware
0,8727635c,2,187,U,45-54,Male,1 season,8,6,990,Just right,10 - Extremely satisfied,Aware and have used/received
1,039ec870,2,459,BB,55-64,Male,11-20 season,5,1 - Not at all satisfied,5,Too few,8,Aware and have NOT used/received
2,0285d1ef,2,452,X,65+,Female,21+ seasons,10 - Extremely satisfied,8,10 - Extremely satisfied,Just right,990,Unaware
3,9493589e,2,1,Z,45-54,Female,6-10 season,10 - Extremely satisfied,6,2,Just Right,990,Unaware
4,d7e0f721,2,410,E,55-64,Male,21+ seasons,5,4,9,Just right,8,Aware and have used/received

In [20]:
# Wave 2 description of numerical columns
wave2.describe()

         Wave      Section
count  1601.0  1601.000000
mean      2.0   292.158026
std       0.0   151.920709
min       2.0     1.000000
25%       2.0   166.000000
50%       2.0   298.000000
75%       2.0   421.000000
max       2.0   550.000000

In [21]:
# Wave 2 description of non-numerical columns
wave2.describe(exclude = 'number')

,uuid,Row,Age,Gender,Tenure,Ovr_Sat,Team_Sat,Comm_Sat,Comm_Freq,Benefit_Sat,Benefit_Aware
count,1601,1601,1601,1601,1601,1601,1601,1601,1601,1601,1601
unique,1601,41,7,3,7,10,11,11,6,11,3
top,27a82f90,L,45-54,Male,21+ seasons,8,7,8,Just right,990,Unaware
freq,1,59,504,1045,413,325,227,240,702,1009,845

In [22]:
# Wave 2 information
wave2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uuid           1601 non-null   object
 1   Wave           1601 non-null   int64
 2   Section        1601 non-null   int64
 3   Row            1601 non-null   object
 4   Age            1601 non-null   object
 5   Gender         1601 non-null   object
 6   Tenure         1601 non-null   object
 7   Ovr_Sat        1601 non-null   object
 8   Team_Sat       1601 non-null   object
 9   Comm_Sat       1601 non-null   object
 10  Comm_Freq      1601 non-null   object
 11  Benefit_Sat    1601 non-null   object
 12  Benefit_Aware  1601 non-null   object
dtypes: int64(2), object(11)
memory usage: 162.7+ KB

In [23]:
# Changing 10 - Extremely satisfied and 1 - Not at all satisfied to 10 and 1, respectively in columns
# Ovr_Sat, Team_Sat, Comm_Sat, and Benefit_Sat
wave2["Ovr_Sat"] = wave2["Ovr_Sat"].replace("10 - Extremely satisfied","10")
wave2["Ovr_Sat"] = wave2["Ovr_Sat"].replace("1 - Not at all satisfied","1")

wave2["Team_Sat"] = wave2["Team_Sat"].replace("10 - Extremely satisfied","10")
wave2["Team_Sat"] = wave2["Team_Sat"].replace("1 - Not at all satisfied","1")

wave2["Comm_Sat"] = wave2["Comm_Sat"].replace("10 - Extremely satisfied","10")
wave2["Comm_Sat"] = wave2["Comm_Sat"].replace("1 - Not at all satisfied","1")

wave2["Benefit_Sat"] = wave2["Benefit_Sat"].replace("10 - Extremely satisfied","10")
wave2["Benefit_Sat"] = wave2["Benefit_Sat"].replace("1 - Not at all satisfied","1")

In [24]:
# Changing Ovr_Sat, Team_Sat, Comm_Sat, and Benefit_Sat from objects to int64 
wave2["Ovr_Sat"] = wave2["Ovr_Sat"].astype("int64")
wave2["Team_Sat"] = wave2["Team_Sat"].astype("int64")
wave2["Comm_Sat"] = wave2["Comm_Sat"].astype("int64")
wave2["Benefit_Sat"] = wave2["Benefit_Sat"].astype("int64")

# Wave 1 information after changing data types
wave2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uuid           1601 non-null   object
 1   Wave           1601 non-null   int64
 2   Section        1601 non-null   int64
 3   Row            1601 non-null   object
 4   Age            1601 non-null   object
 5   Gender         1601 non-null   object
 6   Tenure         1601 non-null   object
 7   Ovr_Sat        1601 non-null   int64
 8   Team_Sat       1601 non-null   int64
 9   Comm_Sat       1601 non-null   int64
 10  Comm_Freq      1601 non-null   object
 11  Benefit_Sat    1601 non-null   int64
 12  Benefit_Aware  1601 non-null   object
dtypes: int64(6), object(7)
memory usage: 162.7+ KB

In [25]:
# Changing "Too many", "Just right", and "Too few" to "Too Many", "Just Right", and "Too Few" in the comm_freq column
wave2["Comm_Freq"] = wave2["Comm_Freq"].replace("Too many","Too Many")
wave2["Comm_Freq"] = wave2["Comm_Freq"].replace("Just right","Just Right")
wave2["Comm_Freq"] = wave2["Comm_Freq"].replace("Too few","Too Few")

In [26]:
# Dropping any potential duplicates in Wave 2 
wave2 = wave2.drop_duplicates()

# Wave 2 information after dropping any potential duplicates 
wave2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1601 entries, 0 to 1600
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uuid           1601 non-null   object
 1   Wave           1601 non-null   int64
 2   Section        1601 non-null   int64
 3   Row            1601 non-null   object
 4   Age            1601 non-null   object
 5   Gender         1601 non-null   object
 6   Tenure         1601 non-null   object
 7   Ovr_Sat        1601 non-null   int64
 8   Team_Sat       1601 non-null   int64
 9   Comm_Sat       1601 non-null   int64
 10  Comm_Freq      1601 non-null   object
 11  Benefit_Sat    1601 non-null   int64
 12  Benefit_Aware  1601 non-null   object
dtypes: int64(6), object(7)
memory usage: 175.1+ KB

In [27]:
# Value Counts for Team_Sat
wave2["Team_Sat"].value_counts()

7      227
6      226
5      210
8      158
4      151
1      143
3      133
2      125
10     100
9       88
990     40
Name: Team_Sat, dtype: int64

In [28]:
# Finding average and weighted average for Team_Sat
Team_Sat_Rating = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [143,125,133,151,210,226,227,158,88,100]
print(round(np.average(Team_Sat_Rating, weights = Rating_Amount),2))

5.41

In [29]:
# Replacing 990 values in Team_Sat with 5
wave2["Team_Sat"] = wave2["Team_Sat"].replace(990,5)

wave2["Team_Sat"].value_counts()

5     250
7     227
6     226
8     158
4     151
1     143
3     133
2     125
10    100
9      88
Name: Team_Sat, dtype: int64

In [30]:
# Value Counts for Team_Sat
wave2["Comm_Sat"].value_counts()

8      240
10     221
9      196
7      194
5      152
6      139
990    113
4       93
2       86
1       85
3       82
Name: Comm_Sat, dtype: int64

In [31]:
# Finding average and weighted average for Comm_Sat
Comm_Sat_Rating = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [85,86,82,93,152,139,194,240,196,221]
print(round(np.average(Comm_Sat_Rating, weights = Rating_Amount),2))

6.53

In [32]:
# Replacing 990 values in Team_Sat with 7
wave2["Comm_Sat"] = wave2["Comm_Sat"].replace(990,7)

wave2["Comm_Sat"].value_counts()

7     307
8     240
10    221
9     196
5     152
6     139
4      93
2      86
1      85
3      82
Name: Comm_Sat, dtype: int64

In [33]:
# Value Counts for Benefit_Sat
wave2["Benefit_Sat"].value_counts()

990    1009
8       110
5       103
10       93
7        91
6        58
9        54
3        34
4        19
2        16
1        14
Name: Benefit_Sat, dtype: int64

In [34]:
# Dropping Benefit_Sat from wave1 due to high number of N/As (63.02%)
wave2.drop("Benefit_Sat", inplace = True, axis=1)

wave2.head()

,uuid,Wave,Section,Row,Age,Gender,Tenure,Ovr_Sat,Team_Sat,Comm_Sat,Comm_Freq,Benefit_Aware
0,8727635c,2,187,U,45-54,Male,1 season,8,6,7,Just Right,Aware and have used/received
1,039ec870,2,459,BB,55-64,Male,11-20 season,5,1,5,Too Few,Aware and have NOT used/received
2,0285d1ef,2,452,X,65+,Female,21+ seasons,10,8,10,Just Right,Unaware
3,9493589e,2,1,Z,45-54,Female,6-10 season,10,6,2,Just Right,Unaware
4,d7e0f721,2,410,E,55-64,Male,21+ seasons,5,4,9,Just Right,Aware and have used/received

In [35]:
# Exporting wave1 and wave2 to csv files
wave1.to_csv("wave1.csv", sep = ',', header = True)
wave2.to_csv("wave2.csv", sep = ',', header = True)

# Communication Frequency and Benefit Awareness

In [36]:
# Wave 1 Comm_Freq value counts
wave1["Comm_Freq"].value_counts()

Just Right    865
Too Few       344
Too Many      243
Name: Comm_Freq, dtype: int64

In [37]:
# Wave 1 Benefit_Aware value counts
wave1["Benefit_Aware"].value_counts()

Unaware                             747
Aware and have NOT used/received    541
Aware and have used/received        164
Name: Benefit_Aware, dtype: int64

In [38]:
# Wave 2 Comm_Freq value counts
wave2["Comm_Freq"].value_counts()

Just Right    934
Too Few       389
Too Many      278
Name: Comm_Freq, dtype: int64

In [39]:
# Wave 2 Benefit_Aware value counts
wave2["Benefit_Aware"].value_counts()

Unaware                             845
Aware and have NOT used/received    584
Aware and have used/received        172
Name: Benefit_Aware, dtype: int64

# Club vs Regular Season Ticket Holders

In [40]:
# Club vs Regular season ticket holders
Club1 = wave1[wave1.Section <= 100]
Club2 = wave2[wave2.Section <= 100]

Reg1 = wave1[wave1.Section > 100]
Reg2 = wave2[wave2.Section > 100]

In [41]:
# Ovr_Sat ratings for wave 1 club season ticket holders
Club1["Ovr_Sat"].value_counts()

8     50
9     50
10    49
6     31
7     28
5     20
1     10
4      8
2      7
3      6
Name: Ovr_Sat, dtype: int64

In [42]:
# Finding weighted average for Ovr_Sat
Club_Ovr_Sat_Rating = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [10,7,6,8,20,32,28,50,50,49]
print(round(np.average(Club_Ovr_Sat_Rating, weights = Rating_Amount),2))

7.32

In [43]:
# Team_Sat ratings for wave 1 club season ticket holders
Club1["Team_Sat"].value_counts()

7     42
8     36
6     35
10    32
9     31
5     23
2     17
3     17
1     14
4     12
Name: Team_Sat, dtype: int64

In [44]:
# Finding weighted average for Team_Sat
Club_Team_Sat_Rating = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [14,17,17,12,23,35,42,36,31,32]
print(round(np.average(Club_Team_Sat_Rating, weights = Rating_Amount),2))

6.38

In [45]:
# Comm_Sat ratings for wave 1 club season ticket holders
Club1["Comm_Sat"].value_counts()

6     48
8     38
10    36
9     33
7     25
3     19
4     17
1     16
5     16
2     11
Name: Comm_Sat, dtype: int64

In [46]:
# Finding weighted average for Comm_Sat
Club_Comm_Sat_Rating = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [16,11,19,17,16,48,25,38,33,36]
print(round(np.average(Club_Comm_Sat_Rating, weights = Rating_Amount),2))

6.44

In [47]:
# Ovr_Sat ratings for wave 2 club season ticket holders
Club2["Ovr_Sat"].value_counts()

8     39
10    36
7     31
9     29
5     18
6     15
2      8
4      6
3      5
1      3
Name: Ovr_Sat, dtype: int64

In [48]:
# Finding weighted average for Ovr_Sat
Club_Ovr_Sat_Rating2 = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [3,8,5,6,18,15,31,39,29,36]
print(round(np.average(Club_Ovr_Sat_Rating2, weights = Rating_Amount),2))

7.31

In [49]:
# Team_Sat ratings for wave 2 club season ticket holders
Club2["Team_Sat"].value_counts()

5     29
7     23
6     21
1     20
2     19
8     18
9     16
10    16
3     14
4     14
Name: Team_Sat, dtype: int64

In [50]:
# Finding weighted average for Team_Sat
Club_Team_Sat_Rating2 = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [20,19,14,14,29,21,23,18,16,16]
print(round(np.average(Club_Team_Sat_Rating2, weights = Rating_Amount),2))

5.45

In [51]:
# Comm_Sat ratings for wave 2 club season ticket holders
Club2["Comm_Sat"].value_counts()

7     27
8     26
1     21
5     21
9     20
3     19
2     15
4     14
6     14
10    13
Name: Comm_Sat, dtype: int64

In [52]:
# Finding weighted average for Comm_Sat
Club_Comm_Sat_Rating2 = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [21,15,19,14,21,14,27,26,20,13]
print(round(np.average(Club_Comm_Sat_Rating2, weights = Rating_Amount),2))

5.58

In [53]:
# Ovr_Sat ratings for wave 1 regular season ticket holders
Reg1["Ovr_Sat"].value_counts()

8     243
10    215
9     189
7     180
6     108
5      97
4      50
3      48
1      33
2      30
Name: Ovr_Sat, dtype: int64

In [54]:
# Finding weighted average for Ovr_Sat
Reg_Ovr_Sat_Rating = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [33,30,48,50,97,108,180,243,189,215]
print(round(np.average(Reg_Ovr_Sat_Rating, weights = Rating_Amount),2))

7.23

In [55]:
# Team_Sat ratings for wave 1 regular season ticket holders
Reg1["Team_Sat"].value_counts()

8     178
7     177
6     167
5     141
9     101
4      99
10     93
1      89
3      85
2      63
Name: Team_Sat, dtype: int64

In [56]:
# Finding weighted average for Team_Sat
Reg_Team_Sat_Rating = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [89,63,85,99,141,167,177,178,101,93]
print(round(np.average(Reg_Team_Sat_Rating, weights = Rating_Amount),2))

5.93

In [57]:
# Comm_Sat ratings for wave 1 regular season ticket holders
Reg1["Comm_Sat"].value_counts()

6     205
8     176
9     153
10    138
7     136
5     132
4      69
3      64
1      60
2      60
Name: Comm_Sat, dtype: int64

In [58]:
# Finding weighted average for Comm_Sat
Reg_Comm_Sat_Rating = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [60,60,64,69,132,205,136,176,153,138]
print(round(np.average(Reg_Comm_Sat_Rating, weights = Rating_Amount),2))

6.42

In [59]:
# Ovr_Sat ratings for wave 2 regular season ticket holders
Reg2["Ovr_Sat"].value_counts()

8     286
9     232
7     229
10    228
5     126
6     116
4      54
3      50
1      48
2      42
Name: Ovr_Sat, dtype: int64

In [60]:
# Finding weighted average for Ovr_Sat
Reg_Ovr_Sat_Rating2 = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [48,42,50,54,126,116,229,286,232,228]
print(round(np.average(Reg_Ovr_Sat_Rating2, weights = Rating_Amount),2))

7.15

In [61]:
# Team_Sat ratings for wave 2 regular season ticket holders
Reg2["Team_Sat"].value_counts()

5     221
6     205
7     204
8     140
4     137
1     123
3     119
2     106
10     84
9      72
Name: Team_Sat, dtype: int64

In [62]:
# Finding weighted average for Team_Sat
Reg_Team_Sat_Rating2 = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [123,106,119,137,221,205,204,140,72,84]
print(round(np.average(Reg_Team_Sat_Rating2, weights = Rating_Amount),2))

5.39

In [63]:
# Comm_Sat ratings for wave 2 regular season ticket holders
Reg2["Comm_Sat"].value_counts()

7     280
8     214
10    208
9     176
5     131
6     125
4      79
2      71
1      64
3      63
Name: Comm_Sat, dtype: int64

In [64]:
# Finding weighted average for Comm_Sat
Reg_Comm_Sat_Rating2 = [1,2,3,4,5,6,7,8,9,10]
Rating_Amount = [64,71,63,79,131,125,280,214,176,208]
print(round(np.average(Reg_Comm_Sat_Rating2, weights = Rating_Amount),2))

6.7